body {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, "ms gothic";
}

.wrapper {
    height: 100%;
}

.content-wrapper {
    transition: all 1s;
}

.content-pushed {
    transform: translateX(-250px);
}

.align-items-right {
    display: flex;
    justify-content: flex-end;
}

.align-items-center {
    display: flex;
    justify-content: center;
}

/* grey nav */
.grey-nav {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    display: flex;
}

.grey-nav .row {
    max-width: 90%;
    margin: auto;
}

.grey-nav ul {
    margin: 5px;
    padding: 5px;
    justify-content: flex-end;
}

.grey-nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 0 8px;
    transition-property: color;
    transition-duration: 1s;
}

.grey-nav a:hover {
    color: #00b140;
}

.grey-nav ul {
    list-style: none;
    display: flex;
}

@media screen and (max-width:1024px) {
    .grey-nav {
        display: none;
    }
}


/* end of grey nav */

/* main-nav */

.main-nav {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1020;
}


.main-nav .row {
    width: 90%;
    margin: auto;
    padding: 25px 0;

}

.n1 {
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

.main-nav ul a:hover {
    color: #ffffff;
    background-color: #0033a0;
}

.n1-active {
    color: #ffffff;
    background-color: #0033a0;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.main-nav .dropdown-icon {
    padding-left: 6px;
}

@media screen and (max-width:1024px) {
    .main-nav {
        position: unset;
    }
}

/* end of main-nav */

/* main-nav-menu */

.n1-dropdown {
    width: 100%;
    background-color: #0033a0;
    height: 100vh;
    position: absolute;
    left: 0;
    display: none;
}

.n1-dropdown-link {
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    padding: 5px;
}

.n1-dropdown-link i {
    color: #00b140;
    font-size: 24px;
}

@media screen and (max-width:1024px) {
    .main-nav .row {
        width: 100%;
    }

    .main-nav ul {
        display: none;
    }
}

/* end of main-nav-menu */


/* hamburger */
.hamburger-container {
    display: none;
    justify-content: flex-end;
    padding: 5px;
}

.hamburger {
    cursor: pointer;
}

.hamburger span,
.hamburger:before,
.hamburger:after {
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #00b140;
    display: block;
    content: '';
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.hamburger.active:before {
    transform: translateY(12px) rotate(135deg);
}

.hamburger.active:after {
    transform: translateY(-12px) rotate(-135deg);
}

.hamburger.active span {
    transform: scale(0);
}

@media screen and (max-width:1024px) {
    .hamburger-container {
        display: flex;
    }
}

/* end of hamburger */

/* mobile sidebar */
.sidebar {
    background-color: #0033a0;
    position: fixed;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 250px;
    height: 100%;
    z-index: 999;
    overflow-y: auto;
    display: block;
    transition: all 1s;
}

.sidebar-active {
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 5px 5px;
}

.n1-rwd {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.n1-rwd:hover {
    color: #ffffff;
    background-color: rgba(0, 177, 64, 0.2);
}

.sidebar .sidebar-links {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar .sidebar-link {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.sidebar .sidebar-link:hover {
    color: white;
    background-color: rgba(0, 177, 64, 0.2);
}

.sidebar-search {
    display: flex;
}

.sidebar-search input {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0;
    flex: 1;
    width: 100%;
    background: #0033a0;
    color: white;
    border: 2px solid white;
    outline: none;
    padding: 10px;
}

.sidebar-search input::placeholder {
    color: white;
    opacity: 1;
}

.sidebar-search button {
    background-color: #0033a0;
    border: 2px solid white;
    border-left: none;
    color: white;
    outline: none;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}

.sidebar-submenu {
    background-color: #0033a0;
    position: fixed;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    overflow-y: auto;
    display: block;
    transition: all 1s;
    box-sizing: border-box;
    transform: translateX(100%);
}

.sidebar-submenu-active {
    transform: translateX(0);
}

.submenu-back {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    display: flex;
    cursor: pointer;
}


.submenu-back:hover {
    color: #ffffff;
    background-color: rgba(0, 177, 64, 0.2);
}


/* end of mobile sidebar */


/* top carousel */

.slider-body {
    min-height: 500px;
}

.slider-body .col-md-6 {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue-heading {
    font-style: normal;
    color: #0033a0;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    font-size: 47px;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 1rem;
}

.slider-link {
    display: flex;
    text-decoration: none;
}

.button-outline-green {
    border: 1px solid #00b140;
    background-color: transparent;
    color: #00b140;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.3s ease;
    display: block;
}

.button-outline-green:hover {
    border-color: rgb(2, 59, 5);
    color: rgb(2, 59, 5);
}


.button-outline-green span {
    vertical-align: middle;
}

.button-outline-green svg {
    height: 15px;
    vertical-align: middle;
    transform: rotate(-90deg);
}

.slider-img {
    min-height: 500px;
    background-size: cover;
    background-position: center
}

.slider-img#img-1 {
    background-image: url("../images/top-carousel/1-d.jpg");
}

.slider-img#img-2 {
    background-image: url("../images/top-carousel/2-d.jpg");
}

.slider-img#img-3 {
    background-image: url("../images/top-carousel/3-d.jpg");
}

.slider-img#img-4 {
    background-image: url("../images/top-carousel/4-d.jpg");
}

.slider-img#img-5 {
    background-image: url("../images/top-carousel/5-d.jpg");
}

.slider-img#img-6 {
    background-image: url("../images/top-carousel/6-d.jpg");
}

@media screen and (max-width:1024px) {
    .slider-img#img-1 {
        background-image: url("../images/top-carousel/1-t.jpg");
    }

    .slider-img#img-2 {
        background-image: url("../images/top-carousel/2-t.jpg");
    }

    .slider-img#img-3 {
        background-image: url("../images/top-carousel/3-t.jpg");
    }

    .slider-img#img-4 {
        background-image: url("../images/top-carousel/4-t.jpg");
    }

    .slider-img#img-5 {
        background-image: url("../images/top-carousel/5-t.jpg");
    }

    .slider-img#img-6 {
        background-image: url("../images/top-carousel/6-t.jpg");
    }
}

@media screen and (max-width:640px) {
    .slider-img#img-1 {
        background-image: url("../images/top-carousel/1-m.jpg");
    }

    .slider-img#img-2 {
        background-image: url("../images/top-carousel/2-m.jpg");
    }

    .slider-img#img-3 {
        background-image: url("../images/top-carousel/3-m.jpg");
    }

    .slider-img#img-4 {
        background-image: url("../images/top-carousel/4-m.jpg");
    }

    .slider-img#img-5 {
        background-image: url("../images/top-carousel/5-m.jpg");
    }

    .slider-img#img-6 {
        background-image: url("../images/top-carousel/6-m.jpg");
    }

    .slider-body .container {
        width: 80%;
    }

    .blue-heading {
        font-size: 30px;
    }
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    width: 50px;
}

.carousel-btn-left {
    height: 40px;
    width: 40px;
    transform: rotate(90deg);
}

.carousel-btn-right {
    height: 40px;
    width: 40px;
    transform: rotate(-90deg);
}

.carousel-indicators li {
    background-color: #c9c9c6;
    height: 4px;
    margin: 8px;
    width: 33px;
}

.carousel-indicators li:hover {
    background-color: #4e504f;
}

.carousel-indicators li.active {
    background-color: #00b140;
}

/* end of top carousel */

/* top content */

.top-content {
    margin: 40px 0;
}

/* image-card-full */

.image-card-full {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.reverse {
    flex-direction: row-reverse;
}

.card-image {
    width: 25%;
    cursor: pointer;
    justify-content: center;
    display: flex;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.card-data {
    width: 75%;
    box-sizing: border-box;
    padding: 20px;
}

.blue-box-text {
    background-color: #0033a0;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
}

.image-card-full .blue-heading {
    padding: 10px 0;
    font-size: 28px;
}

.image-card-full h5 {
    padding-right: 30px;
}

.green-button {
    background-color: #00b140;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    margin: 20px 0;
    display: inline-block;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
    box-sizing: border-box;
}

.green-button:hover {
    color: white;
    background-color: #018331;
}


@media screen and (max-width:1024px) {
    .card-image {
        width: 50%;
    }

    .card-data {
        width: 50%;
    }

    .top-content .container {
        min-width: 90%;
    }
}

@media screen and (max-width:640px) {
    .card-image {
        width: 100%;
    }

    .card-data {
        width: 100%;
    }

    .card-image img {
        width: 100%;
        height: auto;
    }

    .reverse {
        flex-direction: row;
    }

}

/* end of image-card-full */

/* image-card-half */

.half-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-card-half {
    box-sizing: border-box;
    margin: 30px 0;
    width: 49%;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.image-card-half .card-image {
    width: 100%;
    display: block;
    cursor: pointer;
}

.image-card-half .card-data {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.image-card-half img {
    max-width: 100%;
    height: auto;
}

.image-card-half h5 {
    padding-right: 10px;
}

.image-card-half .blue-heading {
    padding: 10px 0;
    font-size: 24px;
}

.card-video {
    width: 100%;
    display: block;
    position: relative;
}

.card-video img {
    width: 100%;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 50px;
    transition-property: color;
    transition-duration: .1s;
    transform: translate(-50%, -50%);
}

.play-button:hover {
    color: rgb(185, 185, 185);
}


@media screen and (max-width:640px) {
    .image-card-half {
        width: 100%;
    }
}

/* end of image-card-half */

/* end of top content */

/* grey area */

.grey-area {
    background-color: rgb(226, 226, 226);
}

.grey-area .container {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.grey-area .card-data {
    padding-left: 80px;
}

.grey-area .card-image {
    width: 22%;
}

.grey-area .card-image img {
    height: auto;
}

.grey-area .blue-heading {
    font-size: 28px;
}

@media screen and (max-width:1024px) {
    .grey-area .card-image {
        width: 30%;
    }

    .grey-area .card-data {
        width: 70%;
    }

    .grey-area .container {
        width: 90%;
    }
}

@media screen and (max-width:640px) {
    .grey-area .card-image {
        width: 100%;
    }

    .grey-area .card-image img {
        width: 50%;
    }

    .grey-area .card-data {
        width: 100%;
    }
}

/* end of grey area */


/* press release */
.press-release {
    overflow: hidden;
}

.press-release .container {
    width: 90%;
}

.press-release .blue-heading {
    padding-top: 50px;
    text-align: center;
}

.releases {
    display: flex;
    flex-wrap: wrap;
}

.release {
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
}

.release h6 {
    color: grey;
    font-weight: bold;
}

.green-heading {
    text-decoration: none;
    color: #00b140;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.1;
}

.green-heading:hover {
    color: #00792c;
}

.press-release .green-button {
    font-size: 22px;
}

@media screen and (max-width:1024px) {
    .release {
        width: 90%;
    }
}

/* blue container */
.blue-container {
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: #0033a0;
}


.blue-container h4 {
    color: white;
    text-align: center;
    margin: 0;
}

.blue-container h6 {
    position: unset;
    color: white;
    text-align: center;
    padding-top: 40px;
    display: block;
}

.blue-container .green-button {
    font-size: 16px;
    margin-bottom: 30px;
}

.animate-this {
    transform: scale(1.2) translateY(100px);
    opacity: 0;
    transition: all 0.5s;
}

.in-viewport {
    transform: translateY(0);
    opacity: 1;
}

/* end of blue container */

/* end of press release */

/* latest-carousel */
.latest-carousel {
    background-color: #e6e6e6;
}

.latest-carousel h1 {
    padding-top: 50px;
    text-align: center;
}

.latest-slider-body {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.small-box {
    border: 1px solid rgb(148, 148, 148);
    background-color: white;
    width: 30%;
    margin: 10px;
}

@media screen and (max-width:640px) {
    .small-box {
        width: 80%;
        margin: 20px auto;
    }
}

.small-image {
    height: 100px;
    position: relative;
    overflow: hidden;
}

.small-image img {
    width: 100%;
    object-fit: cover;
}

.small-image .blue-box-text {
    position: absolute;
    top: 50%;
    left: 0;
}

.box-content {
    padding: 20px 10px;
    padding-bottom: 0;
}

.box-content .green-heading {
    font-size: 18px;
}

.box-content p {
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
    border-bottom: 1px solid gray;
}

.box-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.box-social {
    display: flex;
    align-items: center;
}

.box-social a {
    color: gray;
    padding: 10px;
}

.btn-right {
    display: flex;
    position: relative;
}

.btn-right svg {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.big .small-image {
    height: 200px;
}

.big .big-box {
    flex: 1;
}

.medium-box-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.big .small-box {
    width: 100%;
}

@media screen and (max-width:640px) {
    .big .big-box {
        flex: 0;
        flex-basis: 80%;

    }

    .medium-box-container {
        flex: 0;
        flex-basis: 80%;
        margin: auto;
    }
}

/* end of latest-caruosel */

/* digitally cognizant */
.digitally h1 {
    margin: 40px;
    text-align: center;
}

.digitally-box {
    width: 95%;
    margin: auto;
}

.box-tab {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.tab {
    padding: 0 5px;
    color: #0033a0;
    text-decoration: none;
}

.tab.active span {
    border-bottom: 1px solid black;
}

.tab.inactive {
    font-weight: bold;
}

.digitally-card {
    margin: 20px;
    border-bottom: 1px solid #ccc;
}

.text-gray {
    color: #999;
}

.digitally-cards {
    padding: 30px 0;
}

.digitally-card {
    padding: 20px 0;
}

.digitally-card strong {
    padding-right: 10px;
}

.digitally-card .green-heading {
    padding: 20px 0;
}

.round-image img {
    max-width: 60px;
    border-radius: 100%;
    margin: 20px;
}

.round-image span {
    color: #999;
}

.digitally .green-button {
    margin: 20px;
    font-size: 22px;
}

.digitally-cards {
    overflow: hidden;
}

@media screen and (max-width:1024px) {
    .digitally-box {
        border: 1px solid #ccc;
    }

    .digitally-box .view {
        display: none;
    }

    .box-tab {
        justify-content: flex-start;
    }

    .tab {
        flex-grow: 1;
        text-align: center;
        padding: 10px;
    }

    .tab.inactive {
        background-color: #e6e6e6;
        ;
    }

}

/* end of digitally cognizant */

/* cognizant form */

.cognizant-form {
    background-image: url("../images/form_bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
    background-attachment: fixed;
}

.cognizant-form .green-button {
    font-size: 24px;
    margin: 20px 0;
}

.input-group label {
    position: absolute;
    top: 0px;
    left: 30px;
    transform: translateY(20px);
    font-size: 20px;
    transition: all 0.3s ease;
}

.input-group {
    position: relative;
    margin: 20px 0px;
    width: 33.33%;
    font-size: 20px;
}

.input-group .input {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    z-index: 2;
    transition: all 0.3s ease;
}

.input-group .input::-webkit-input-placeholder {
    opacity: 0;
}

.input-group .input::-moz-placeholder {
    opacity: 0;
}

.input-group .input:-ms-input-placeholder {
    opacity: 0;
}

.input-group .input::-ms-input-placeholder {
    opacity: 0;
}

.input-group .input::placeholder {
    opacity: 0;
}

.input-group .input:focus+label,
.input-group .input:active+label {
    transform: translateY(-10px);
    font-size: 13px;
    color: #0033a0;
}

.input-group .input:focus,
.input-group .input:active {
    border-bottom: 2px solid #0033a0;
}

.input-group .input:focus::-webkit-input-placeholder {
    opacity: 1;
}

.input-group .input:focus::-moz-placeholder {
    opacity: 1;
}

.input-group .input:focus:-ms-input-placeholder {
    opacity: 1;
}

.input-group .input:focus::-ms-input-placeholder {
    opacity: 1;
}

.input-group .input:focus::placeholder {
    opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.input-group select {
    background: url(../images/down-arrow.svg) no-repeat right 0.5rem bottom 25% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}

.input-group select option {
    color: #00b140;
}


/* end of cognizant form */

/* social bar */

.social-bar {
    background-color: #e6e6e6;
}

.social-bar .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-icons {
    font-size: 24px;
    padding: 10px
}

.social-icons a {
    padding: 10px;
    color: #00b140;
}

.social-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social-links a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: all 0.5s;
}

.social-links a:hover {
    background-color: #00b14150;
}

.social-links span {
    padding: 0 10px;
}



/* end of social bar */

/* footer */
.footer {
    padding: 30px 0px;
}

.footer .container {
    margin: auto;
}

.footer .link-blue {
    color: #0033a0;
}

.footer h6 {
    font-size: 23px !important;
    font-weight: bold;
    color: #0033a0;
    transition: all 0.3s ease;
    margin: 20px 0;
}

.footer a {
    font-size: 17px;
    color: #555;
    text-decoration: none;
    display: block;
}

.footer a:hover {
    color: #00b140;
}

/* end of footer */